:root {
  --color-primario: #45bded;
  --color-secunadrio: #007ba0;
  --color-terciario: #2152f3;
  --color-fuente: #000000;
  --color-fondo: #edfcfc;
}

* { 
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-image: url(/Assets/Images/fondo.jpeg);
  background-size: contain;
  background-position: initial;  
  background-repeat: no-repeat;
  background-color: var(--color-fondo);
}

.barraNav {
  background-color: var(--color-primario);
  color: var(--color-fuente);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.barraNav a {
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  margin-left: 30px;
  text-decoration: none;
  color: var(--color-fuente);
  font-weight: bold;
  transition: color 0.3s ease;
}

.barraNav a:hover {
  color: var(--color-fondo);
}

.contenedorNombre {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.contenedorNombre h1 {
  font-size: 60px;
  color: var(--color-terciario);
  padding-bottom: 10px;
}

.contenedorNombre p {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.contenedorPais {
  display: flex;
  justify-content: space-between;
}

.ciudadPais {
  font-size: 20px;
  font-weight: bold;
  margin-top: 70px;
}

.iconos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.iconos img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.contenedorSobreMi {
  background-color: var(--color-secunadrio);
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contenedorSobreMi h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.contenedorSobreMi img {
  border-radius: 15px;
}

.contenedorSobreMi h2 {
  font-size: 20px;
  margin-top: 20px;
  width: 80%;
  text-align: center;
}

.contenedorSobreMi p {
  font-size: 20px;
  width: 75%;
  text-align: center;
  margin-top: 10px;
}

.contenedorTecnologias {
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.contenedorImagenes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.imagenGrupo {
  background-color: var(--color-secunadrio);
  width: 350px;
  height: 350px;
  border-radius: 15px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.imagenGrupo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.imagenGrupo p {
  font-size: 20px;
  font-weight: bold;
}

.contenedorContactame {
  background-color: var(--color-secunadrio);
  height: 125vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.grupo {
  display: flex;
  flex-direction: column;
  width: 250px;
}

input {
  height: 30px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  height: 100px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 20px;
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid var(--color-fuente);
}

button {
  color: var(--color-terciario);
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 125px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-fuente);
  color: var(--color-fondo);
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

footer {
  background-color: var(--color-secunadrio);
}
